{%extends 'cake/base.html'%}

{%block body_block%}
    <div class="container p-5">
      <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 p-5 border shadow">
            <form action="" method="post" enctype="multipart/form-data">
            <h2 class="text-center">ADD OFFER</h2>
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" class="btn btn-outline-success form-control" value="Register">
            </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>


{%endblock%}
